# Dependencies
node_modules/

# Environment variables
.env

# Database files
backend/database/*.db
backend/database/*.db-shm
backend/database/*.db-wal

# Logs
*.log
npm-debug.log*

# IDE files
.vscode/
.idea/
*.swp
*.swo

# History folder
.history/
